<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.omninos.chroeslammer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_login"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateUnspecified" />
        <activity
            android:name=".Activities.SplashScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateUnspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateUnspecified" />
        <activity
            android:name=".Activities.RegisterScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateUnspecified" />
        <activity android:name=".Activities.AllCategories" />
        <activity android:name=".Activities.PostChoreActivity"></activity>
        <activity android:name=".Activities.NotificationLIst" />
        <activity android:name=".Activities.Post_Chore" />
        <activity android:name=".Activities.Profile" />
        <activity android:name=".Activities.Favourite_Chore" />
        <activity android:name=".Activities.Extra" />
        <activity android:name=".Activities.PostList" />
        <activity
            android:name=".Activities.Project_Details"
            android:theme="@style/ProjectAppTheme"></activity>

        <service android:name=".Services.FireBaseInstanceService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Activities.Update_Profile_Activity"></activity>
    </application>

</manifest>